@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using IMCWeb.UTIL;

    PersonLogin actualPerson = TempData.PeekExt<PersonLogin>(nameof(PersonLogin));

    IEnumerable<PersonLogin> people;
    people = TempData.PeekExt<IEnumerable<PersonLogin>>(nameof(people));
}

<link href="~/css/IMCAllStyle.css" rel="stylesheet" />


<div class="TableContainerDiv">

    <table>
        <tr>
            <th>Usuário</th>
            <th>Altura</th>
            <th>Peso</th>
            <th>Índice de massa corpórea(IMC)</th>
            <th>Status IMC</th>
        </tr>
        @foreach (var data in people)
        {

            if (data.IMC == null)
                continue;

            <tr>
                @{
                    string className;

                    if (data.Id == actualPerson.Id)
                        className = "tdActualUser";
                    else
                        className = "tdOtherUser";

                    <td class="@className">@data.UserName</td>
                    <td class="@className">@data.IMC.Height</td>
                    <td class="@className">@data.IMC.Weight</td>
                    <td class="@className">@data.IMC.IMCResult.ToString("F")</td>
                    <td class="@className">@data.IMC.IMCStatus()</td>
                }
            </tr>
        }
    </table>
</div>